version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: techevents_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: techevents_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
